aiobotocore==2.14.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aioitertools==0.12.0
aiosignal==1.3.1
asciitree==0.3.3
attrs==24.2.0
botocore==1.35.7
certifi==2024.8.30
cftime==1.6.4
charset-normalizer==3.3.2
click @ file:///private/tmp/python-click-20231211-45440-9p5m4p/click-8.1.7
contourpy==1.3.0
cycler==0.12.1
fasteners==0.19
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
idna==3.8
jmespath==1.0.1
kiwisolver==1.4.7
lxml==5.3.0
matplotlib==3.9.2
multidict==6.0.5
netCDF4==1.7.1.post2
numcodecs==0.13.0
numpy==2.1.1
openvino==2024.3.0
openvino-telemetry==2024.1.0
packaging==24.1
pandas==2.2.2
pathspec @ file:///private/tmp/python-pathspec-20231212-4674-kki6wg/pathspec-0.12.1
pillow==10.4.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
s3fs==2024.9.0
six==1.16.0
TBB==0.2
tzdata==2024.1
urllib3==2.2.2
wheel @ file:///opt/homebrew/Cellar/python%403.12/3.12.5/libexec/wheel-0.44.0-py3-none-any.whl#sha256=8d8a590e50bda8422000110e90bc730ebfcd8363d2de80793ac819b7f252e97d
wrapt==1.16.0
xarray==2024.7.0
yarl==1.11.0
zarr==2.18.3
